[submodule "Icewind/python/pymobiledevice"]
	path = Icewind/python/pymobiledevice
	url = https://github.com/PythEch/pymobiledevice.git
[submodule "Icewind/src/com/alexhulbert/jmobiledevice"]
	path = Icewind/src/com/alexhulbert/jmobiledevice
	url = https://github.com/Triforce1/JMobileDevice.git
	branch = code
